@model LanSiDai.Models.Questions
<div class="detail-container">
    <div class="user-infor">
        <p>User Information</p>
        Img
    </div>
    <div class="user-question">
        @Model.Description
    </div>
</div>

<style>
    .user-question {
        width:90%;
        margin-left:5%;
        
    }
    .detail-container {
        width: 100%;
        background-color: white
    }

</style>